<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>angularjs_helloword</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js">

    </script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="MainController as main">
    <div>
      <label>First number : </label>
      <input type="number" ng-model="main.num1" /><br>
      <label>Second number : </label>
      <input type="number" ng-model="main.num2" />
      <hr>
      <h1>Sum : {{main.num1 + main.num2}}</h1>
      <h1>Product : {{main.num1 * main.num2}}</h1>
    </div>
  </body>
</html>
