<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>augularjs_list</title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app_2.js"></script>
  <body ng-app="app" ng-controller="MainController as main">
    <h2>ToDo List</h2>
    <hr>
    <form>
      <h3>New Task : </h3>
      Name : <input type="text" ng-model="newtask.name" />
      <input type="submit" ng-click="main.add(newtask)" value="Add Task"/>
    </form>
    <hr>
    <ul>
      <li ng-repeat="task in main.tasks">
        <input type="checkbox" ng-model="task.done" ng-click="main.delete(task)" />
        <span>{{task.name}}</span>
      </li>
    </ul>
  </body>
</html>
